<section id="three" class="wrapper style1">
  <div class="inner">
    <h2>Get in touch</h2>
    <p>
      Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis
      mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget
      hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit
      quis lorem.
    </p>
    <div class="split style1">
      <section class="form-section">
        <form
          id="contactForm"
          action="https://formspree.io/f/movyqgop"
          method="POST"
        >
          <div class="form-container">
            <input
              class="form-inputs"
              type="text"
              name="name"
              placeholder="Name"
            />
            <input
              class="form-inputs"
              type="text"
              name="last-name"
              placeholder="Last Name"
            />
          </div>
          <div class="form-container">
            <input
              class="form-inputs"
              id="email"
              type="email"
              name="email"
              required
              placeholder="Email@example.com"
            />
            <input type="text" name="subject" required placeholder="Subject" />
          </div>

          <textarea
            class="form-inputs"
            name="message"
            required
            placeholder="Write Your Message Here"
          ></textarea>
          <!-- AutoResponse -->
          <!-- <input
            type="hidden"
            name="_autoresponse"
            value="Thank you for contacting us! We'll reply soon."
          /> -->

          <button style="display: block" id="send" type="submit">Send</button>
        </form>
      </section>
    </div>
  </div>
</section>
