<section id="three" class="wrapper style1">
  <div class="inner">
    <h2>Get in touch</h2>
    <p>
      Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis
      mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget
      hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit
      quis lorem.
    </p>
    <div class="split style1">
      <section class="form-section">
        <form
          id="contactForm"
          action="https://formspree.io/f/mgvrenla"
          method="POST"
        >
          <label>
            Name:
            <input type="text" name="name" required />
          </label>

          <label>
            Email:
            <input id="email" type="email" name="email" required />
          </label>

          <label>
            Subject:
            <input type="text" name="subject" required />
          </label>

          <label>
            Message:
            <textarea name="message" required></textarea>
          </label>

          <!-- <input
            type="hidden"
            name="_autoresponse"
            value="Thank you for contacting us! We'll reply soon."
          /> -->

          <button style="display: block" id="send" type="submit">Send</button>
        </form>

        <!-- this message is hidden by default -->
        <p
          id="form-status"
          style="display: none; color: green; font-weight: 600"
        >
          ✅ Your message has been sent!
        </p>
      </section>
      <!-- <section>
        <ul class="contact">
          <li>
            <h3>Address</h3>
            <span
              >12345 Somewhere Road #654<br />
              Nashville, TN 00000-0000<br />
              USA</span
            >
          </li>
          <li>
            <h3>Email</h3>
            <a href="#">user@untitled.tld</a>
          </li>
          <li>
            <h3>Phone</h3>
            <span>(000) 000-0000</span>
          </li>
          <li>
            <h3>Social</h3>
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-github"
                  ><span class="label">GitHub</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-linkedin-in"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </section> -->
    </div>
  </div>
</section>
