<section class="timeline-section">
  <div id="one" class="scroll-anchor"></div>
  <div class="timeline">
    <div class="container">
      <div class="timeline-item  item item-1">
        <a href="generic.html">
          <div class="timeline-card">
            <div class="card">
              <div class="img-date">
                <img src="images/pic02.jpg" alt="img" />
                <div>
                  <h3>
                    We walk you through the options, the applications, the uses, and
                    the endless possibilities that our services provide and then
                    draft a plan for your project including a production quote. Then
                    provide and then draft a plan for your project including a
                    production quote. Then
                  </h3>
                </div>
              </div>
              <div class="btn-container">
                <a href="generic.html" class="timeline-btn">See more</a>
              </div>
            </div>
          </div>
        </a>

      </div>
      <div class="timeline-item  item item-2">
        <a href="generic.html">
          <div class="timeline-card">
            <div class="card">
              <div class="img-date">
                <img src="images/pic02.jpg" alt="img" />
                <div>
                  <h3>
                    We walk you through the options, the applications, the uses, and
                    the endless possibilities that our services provide and then
                    draft a plan for your project including a production quote. Then
                    provide and then draft a plan for your project including a
                    production quote. Then
                  </h3>
                </div>
              </div>
              <div class="btn-container">
                <a href="generic.html" class="timeline-btn">See more</a>
              </div>
            </div>
          </div>
        </a>

      </div>
      <div class="timeline-item  item item-3">
        <a href="generic.html">
          <div class="timeline-card">
            <div class="card">
              <div class="img-date">
                <img src="images/pic02.jpg" alt="img" />
                <div>
                  <h3>
                    We walk you through the options, the applications, the uses, and
                    the endless possibilities that our services provide and then
                    draft a plan for your project including a production quote. Then
                    provide and then draft a plan for your project including a
                    production quote. Then
                  </h3>
                </div>
              </div>
              <div class="btn-container">
                <a href="generic.html" class="timeline-btn">See more</a>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

  </div>

  <div class="timeline-item right background">
    <div class="timeline-card  custom">
      <div class="card">
        <div class="img-date">
          <img src="images/favicon.png" alt="img" />
          <div>
            <h3>
              We walk you through the options, the applications, the uses, and
              the endless possibilities that our services provide and then
              draft a plan for your project including a production quote. Then
            </h3>
          </div>
        </div>

        <div class="btn-container">
          <a href="generic.html" class="timeline-btn">See more</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>