<section id="one" class="wrapper style2 spotlights">
  <section>
    <a href="#" class="image"
      ><img src="images/pic01.jpg.jpg" alt="" data-position="center center"
    /></a>
    <div class="content">
      <div class="inner">
        <h2>Step #1: Imagining and Imaging</h2>
        <p>
          We walk you through the options, the applications, the uses, and the
          undless possibilities that our services provide and then draft a plan
          for your project including a production quote. Then the excitement
          begins; we deploy a team of aerial imaging specialists to your
          location and take the necessary photos, vidoeos, scans and
          measurements.
        </p>
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"
      ><img
        src="images/ViewCapture20250522_112851.png"
        alt="Design image from EyeKonika"
        data-position="top center"
    /></a>
    <div class="content">
      <div class="inner">
        <h2>Step #2: Design and Production</h2>
        <p>
          Our team of professional designers and engineers takes your idea and
          makes it a reality, implanting your thoughts deep into optical glass.
          Our specialists guide the product throught the manufacturing process
          following the specifications we agree on with you. You are supplied
          with prototype images, updates on design and production, and you can
          make changes up until the moment the laser hits the glass. This
          results in a design and finished product of stunning precision and
          meticulous adherance to the set guidelines.
        </p>
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"
      ><img src="images/pic03.jpg" alt="" data-position="25% 25%"
    /></a>
    <div class="content">
      <div class="inner">
        <h2>Step #3: Delivery and Implementation</h2>
        <p>
          After the product arives Eyekonika doesn't leave you! We can help
          design and implement your programs using our product, market the
          product, and generally stand behind our work and provide guidance or
          consultation where possible.
        </p>
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>
