<section id="two" class="wrapper style3 fade-up">
  
  <div class="inner">
    <h2>What we do</h2>
    <div class="features">
      <section>
        <span class="icon solid major fa-code"></span>
        
      </section>
      <section>
        <span class="icon solid major fa-lock"></span>
        <h3>Imaging and Scanning</h3>
       
      </section>
      <section>
        <span class="icon solid major fa-cog"></span>
        <h3>Design</h3>
     
      </section>
      <section>
        <span class="icon solid major fa-desktop"></span>
  
     
      </section>
      <section>
        <span class="icon solid major fa-link"></span>
       
       
      </section>
      <section>
        <span class="icon major fa-gem"></span>
     
       
      </section>
    </div>
    <ul class="actions">
      <li><a href="generic.html" class="button">Learn more</a></li>
    </ul>
  </div>
</section>
